@import 'normalize';


// Variables
$main-color : #edede8;

body{
	background-color: $main-color;
}

.nav{
	display: flex;
}
textarea:focus, input:focus{
    outline: none;
}
#search{
	padding: 0;
	border: 0;
	outline-color: none;
	flex-grow: 1;
	height: 40px;
	font-size: 2em;
	padding-left: 10px;
}